{% extends 'admin.html' %}
{% block admin %}
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#example thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#filter');

        var table = $('#example').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();

                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();

                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
</script>
<script>
    function update(link){
        $.ajax({
            url: link,
            type: 'GET',
             error: function (xhr, ajaxOptions, thrownError) {
      }
    });
    }
</script>
<div class="container">
    <h1 class="display-6 text-center mt-3 mb-3 text-primary">Attendance</h1>
    <table class="table  " id="example" class="table table-striped" style="width:100%">

        <thead class="thead-dark" style="width: 100%">
        <tr>
            <th>Roll No.</th>
            <th>Name</th>
            <th>Section</th>
            <th>Department</th>
            <th>Present Lectures</th>
            <th>Absent Lectures</th>
        </tr>
        </thead>

        <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.roll_no}}</td>
            <td>{{student.fname}}</td>
            <td>{{student.section}}</td>
            <td>{{student.trade}}</td>
            <td><input onchange="update('/attendance?id='+'{{student.id}}'+'&present_lect='+this.value)"
                       value="{{student.present_lect}}">
            </td>
            <td><input onchange="update('/attendance?id='+'{{student.id}}'+'&absent_lect='+this.value)"
                       value="{{student.absent_lect}}">
            </td>

        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}